---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection('blog');
---
<Layout title="Mod Garden Blog" page="blog" description="Blog posts from Mod Garden">
  <div class="mx-auto mt-3 grid w-3/4 grid-flow-row grid-cols-2 gap-2">
    {
      posts.map((blogPost) => (
        <a
          class="group inline-block rounded-lg bg-white text-black shadow-md hover:bg-gray-100 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700"
          href={`/blog/${blogPost.data.permalink}`}
        >
          <div class="w-full bg-gray-200 p-3 pb-0 group-hover:bg-gray-300 dark:bg-zinc-700 dark:group-hover:bg-zinc-600">
            <h1 class="mb-4 border-0 border-b-4 border-leaf-200 pb-2 text-xl font-bold text-black dark:text-white">
              {blogPost.data.title}
            </h1>
          </div>
          <div class="mx-auto flex w-2/3 flex-col items-center justify-center space-y-4 p-3 text-center">
            <div class="italic">{blogPost.data.description}</div>
            <div>
              <span>{blogPost.data.author}</span>
              <span>•</span>
              <span>{blogPost.data.date}</span>
              {
                blogPost.data.edited_at && (
                  <>
                    <span>•</span>
                    <span>Edited: {blogPost.data.edited_at}</span>
                  </>
                )
              }
              {
                blogPost.data.tags && (
                  <div class="mt-4 flex flex-wrap justify-center gap-2">
                    {blogPost.data.tags.map((tag) => (
                      <span class="rounded-full bg-leaf-200 px-3 py-1 text-xs font-semibold text-leaf-900 dark:bg-leaf-700 dark:text-leaf-100">
                  {tag}
                </span>
                    ))}
                  </div>
                )
              }
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
