---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import ProjectCard from "../../../components/ProjectCard.astro";

import eventLogo from "../../../icons/events/diy/logo-full.png";
import type { ModGardenEvent, SubmissionAndMod } from "../../../ts/ModGardenAPI";
import { getEvent, getSubmissions } from "../../../ts/ModGardenAPI";

import eventIcon from "../../../assets/icon/diy.png";

const submissions: SubmissionAndMod[] = await getSubmissions("mod-garden", "diy");
const event: ModGardenEvent = await getEvent("mod-garden", "diy");
const times = new Map<string, Date>();
Object.entries(event.times).forEach(([key, time]) => {
  times.set(key, new Date(Number(time)));
});

const phaseOneStart = times.get("development_start")!.toISOString();
const phaseTwoStartMut = times.get("development_start")!;
phaseTwoStartMut.setDate(phaseTwoStartMut.getDate() + 30);
const phaseTwoStart = phaseTwoStartMut.toISOString();
const phaseTwoEnd = times.get("development_end")!.toISOString();
const packFreeze = times.get("pack_freeze")!.toISOString();
const testStart = phaseTwoStart;
const testEndMut = new Date(phaseTwoStart);
testEndMut.setDate(testEndMut.getDate() + 14);
const testEnd = testEndMut.toISOString();
const buildStart = testEnd;
const buildEnd = packFreeze;
const showcaseStartMut = new Date(buildEnd);
showcaseStartMut.setDate(showcaseStartMut.getDate() + 3);
const showcaseStart = showcaseStartMut.toISOString();
const showcaseEndMut = new Date(showcaseStart);
showcaseEndMut.setDate(showcaseEndMut.getDate() + 7);
const showcaseEnd = showcaseEndMut.toISOString();
---

<Layout title="Mod Garden: DIY" favicon={eventIcon.src} image={eventIcon.src} color="#fa00fa">
  <div class="mt-4 mb-4 flex flex-col items-center justify-center space-y-4">
    <div class="flex flex-col lg:flex-row lg:space-x-4 w-4/5">
      <div class="lg:basis-2/3 rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white items-center justify-center text-center">
        <h1 class="mb-4 border-0 border-b-4 border-diy-200 text-xl font-bold text-black dark:text-white">
          Mod Garden Presents:
        </h1>
        <div class="space-y-4 lg:mx-10">
          <Image src={eventLogo} alt="Mod Garden: DIY" class="mx-auto" />
          <p>
            Recent updates aren't your thing? Maybe it's time to go <b>DIY</b>!
          </p>
          <p>
            <i>Somewhere out there, beyond our Overworld lies the Grand Jigsaw - where ideas become real and slot together like pieces of a puzzle.</i>
          </p>
          <p>
            <i>The keys are in your hands - build the experimental update of your dreams.</i>
          </p>
          <p>
            As modders, you will be designing your ideas for a game drop in the form of a mod for Fabric 26.1.2. The rendering changes are in full swing now, come join the party!
          </p>
          <h1 class="mb-4 border-0 border-b-4 border-diy-200 text-xl font-bold text-black dark:text-white ">
            Features
          </h1>
          <div class="px-12 text-left">
            <li>Take a look at mods created by modders across a two month timespan, made to fit the theme of DIY.</li>
            <li>This event's map is set atop a large jigsaw puzzle. Participants submissions should take up one or two pieces (scope dependent).</li>
          </div>
          <h1 class="mb-4 border-0 border-b-4 border-diy-200 text-xl font-bold text-black dark:text-white ">
            Event Information
          </h1>
          <div class="overflow-x-auto">
            <table class="table-auto">
              <tr>
                <th class="px-6 py-3 border border-gray-200 bg-gray-50 dark:bg-zinc-700 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Platform
                </th>
                <td class="w-full px-4 py-4 whitespace-normal border border-gray-200 bg-gray-50 dark:bg-zinc-700">
                  <span class="text-sm font-medium">Fabric 26.1.2</span>
                </td>
              </tr>
              <tr>
                <th class="px-6 py-3 border border-gray-200 bg-gray-50 dark:bg-zinc-700 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Core Theme
                </th>
                <td class="w-full px-4 py-4 whitespace-normal border border-gray-200 bg-gray-50 dark:bg-zinc-700">
                  <span class="text-sm font-medium">Game Drop sized submissions - Make your own game drop</span>
                </td>
              </tr>
              <tr>
                <th class="px-6 py-3 border border-gray-200 bg-gray-50 dark:bg-zinc-700 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Themes
                </th>
                <td class="w-full px-4 py-4 whitespace-normal border border-gray-200 bg-gray-50 dark:bg-zinc-700">
                  <span class="text-sm font-medium">DIY, Mystery, vanilla-inspired mods, Puzzles, anything and everything experimental.</span>
                </td>
              </tr>
              <tr>
                <th class="px-6 py-3 border border-gray-200 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Showcase World
                </th>
                <td class="w-full px-4 py-4 whitespace-normal border border-gray-200">
                  <span class="text-sm font-medium">The Great Jigsaw (Built World)</span>
                </td>
              </tr>
              <tr>
                <th class="px-6 py-3 border border-gray-200 bg-gray-50 dark:bg-zinc-700 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Size
                </th>
                <td class="w-full px-4 py-4 whitespace-normal border border-gray-200 bg-gray-50 dark:bg-zinc-700">
                  <span class="text-sm font-medium">512&times;512 Blocks</span>
                </td>
              </tr>
              <tr>
                <th class="px-6 py-3 border border-gray-200 text-left text-xs leading-4 font-medium uppercase tracking-wider">
                  Districts (Excluding Spawn)
                </th>
                <td class="w-full px-6 py-4 whitespace-normal border border-gray-200">
                  <span class="text-sm font-medium">5</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="lg:basis-1/3 rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white max-lg:mt-2">
        <h1 class="mb-4 border-0 border-b-4 border-diy-200 text-xl font-bold text-black dark:text-white">
          Timeline
        </h1>
        <div class="mx-auto items-center justify-center space-y-4 text-center">
          <ol class="relative border-s border-diy-600 dark:border-diy-200">
            <li class="mb-[19.5%] ms-4">
              <div class="absolute w-3 h-3 bg-diy-500 rounded-full mt-1.5 -start-1.5 dark:bg-diy-700"></div>
              <time datetime={phaseOneStart} data-start-time={phaseOneStart} data-end-time={phaseTwoStart}
                    class="mb-1 text-sm font-normal leading-none italic"> </time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Development - Phase 1</h3>
              <p class="text-base font-normal">
                Design and implement the core features of your submission.
              </p>
              <p class="text-base font-normal">
                Core features are features that are important and would otherwise require refactoring or major changes to implement.
              </p>
              <p class="text-base font-normal">
                All core features should exist in the submission by the end of Phase 1. Any missing core features will be left behind in Phase 2.
              </p>
            </li>
            <li class="mb-[19.5%] ms-4">
              <div class="absolute w-3 h-3 bg-diy-500 rounded-full mt-1.5 -start-1.5 dark:bg-diy-700"></div>
              <time datetime={phaseTwoStart} data-start-time={phaseTwoStart} data-end-time={phaseTwoEnd}
                    class="mb-1 text-sm font-normal leading-none italic"> </time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Development - Phase 2</h3>
              <p class="text-base font-normal">
                Polish your submission, fix bugs, fix interoperability between submissions, and add smaller features.
              </p>
            </li>
            <li class="mb-[19.5%] ms-4">
              <div class="absolute w-3 h-3 bg-diy-500 rounded-full mt-1.5 -start-1.5 dark:bg-diy-700"></div>
              <time datetime={testStart} data-start-time={testStart} data-end-time={testEnd}
                    class="mb-1 text-sm font-normal leading-none italic"> </time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Test Period</h3>
              <p class="text-base font-normal">
                Test your submission and how it interacts with the modpack.
              </p>
            </li>
            <li class="mb-[19.5%] ms-4">
              <div class="absolute w-3 h-3 bg-diy-500 rounded-full mt-1.5 -start-1.5 dark:bg-diy-700"></div>
              <time datetime={buildStart} data-start-time={buildStart} data-end-time={buildEnd}
                    class="mb-1 text-sm font-normal leading-none italic"> </time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Build Period</h3>
              <p class="text-base font-normal">
                Build your submission's booth and help build the showcase map. After this period, the modpack will be frozen.
              </p>
            </li>
            <li class="ms-4">
              <div class="absolute w-3 h-3 bg-diy-500 rounded-full mt-1.5 -start-1.5 dark:bg-diy-700"></div>
              <time datetime={showcaseStart} data-start-time={showcaseStart} data-end-time={showcaseEnd}
                    class="mb-1 text-sm font-normal leading-none italic"></time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Showcase Period</h3>
              <p class="text-base font-normal">
                This is when the event server is up and running, where you and players can visit booths for all the projects. Players may vote for mods and awards are given in this stage. The server will still be up for some time after this period ends.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div
      class="mx-auto mt-4 min-h-24 w-4/5 rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white">
      <h1 class="mb-4 border-0 border-b-4 border-diy-200 text-xl font-bold text-black dark:text-white">
        Submitted Projects
      </h1>
      <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
        {submissions.map((submission) => (
          <ProjectCard
            project={submission.submission.project}
            submission={submission.submission}
            mod={submission.mod}
            showUserInfo={true}
          />
        ))}
        {submissions.length === 0 && (
          <div class="col-span-full text-center">
            No projects submitted yet, you could be the first!
          </div>
        )
        }
      </div>
    </div>
    <br>
  </div>
</Layout>
<style>
  @reference "../../../styles/global.css";
  .current-timeline-entry {
      @apply bg-diy-200/10 border-l-4 border-diy-300 py-3
  }
</style>
<script>
  import Moment from "moment";
  function highlightCurrentTimelineEntry() {
    let timelineEntries = Array.from(document.querySelectorAll("[data-start-time]")).reverse();
    let currentTime = Moment();
    for (let entry of timelineEntries) {
      if (!entry.parentElement)
        return;
      const startTime = Moment(entry.getAttribute("data-start-time"));
      if (currentTime.isAfter(startTime)) {
        entry.parentElement.classList.add("current-timeline-entry");
        return;
      } else {
        entry.parentElement.classList.remove("current-timeline-entry");
      }
    }
  }
  highlightCurrentTimelineEntry();
  setInterval(highlightCurrentTimelineEntry, 1000 * 60);
  let timelineEntries = Array.from(document.querySelectorAll("[data-start-time]"));
  timelineEntries.forEach((entry) => {
    const startTime = entry.getAttribute("data-start-time");
    const endTime = entry.getAttribute("data-end-time");
    entry.textContent = `${Moment(startTime).format("MM/D/YYYY h:mm A") } - ${Moment(endTime).format("MM/D/YYYY h:mm A")}`;
  });
  
</script>
