---
import Layout from "../../layouts/Layout.astro";
import {
  getEvents,
  getUserData,
  getUserProjects,
  getUserSubmissions,
  getSubmission,
} from "../../ts/ModGardenAPI";
import type {
  UserData,
  ModGardenEvent,
EventSubmission,
} from "../../ts/ModGardenAPI";
import ProjectCard from "../../components/ProjectCard.astro";
import { getModrinthUser } from "../../ts/ModrinthHelper";

import unknownUserIcon from "../../assets/unknown_user.png";

const { user } = Astro.params;

let userData = await getUserData(user!);

if (!userData || "error" in userData) {
  Astro.response.status = 404;
  Astro.response.statusText = "User not found";
}
userData = userData as UserData;
const projects = await getUserProjects(userData.id);
const submissions = await getUserSubmissions(userData.id);
const projectSubmissions: [ModGardenEvent, EventSubmission[]][] = [];
const uniqueEvents = new Set();
const events = await getEvents();
const eventMap = new Map<string, ModGardenEvent>();
const eventSubmissions = new Map<string, EventSubmission[]>();

for (const event of events) {
  eventMap.set(event.id, event);
}

for (const project of projects) {
  for (const submissionId of project.submissions) {
    const submission = await getSubmission(submissionId);
    eventSubmissions.getOrInsertComputed(submission.event_id, (_) => []).push(submission);
  }
}

for (const event of events) {
  if (eventSubmissions.has(event.id)) {
    projectSubmissions.push([event, eventSubmissions.get(event.id)!]);
  }
}

projects.sort((a, b) => {
    return a.id.localeCompare(b.id)
});

for (const submission of submissions) {
  uniqueEvents.add(submission.event_id);
}
const projectToEventsMap: Map<string, ModGardenEvent[]> = new Map();
for (const submission of submissions) {
  if (!projectToEventsMap.has(submission.project.id)) {
    projectToEventsMap.set(submission.project.id, []);
  }
  projectToEventsMap
    .get(submission.project.id)
    ?.push(
      events.find((event) => event.id === submission.event_id) as ModGardenEvent,
    );
}
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/flower/*.{jpeg,jpg,png,gif}",
);

let modrinthUserIcon = unknownUserIcon.src;
if (userData.integrations.modrinth?.user_id) {
  const modrinthUser = await getModrinthUser(userData.integrations.modrinth.user_id);
  if (modrinthUser && modrinthUser.avatar_url) {
    modrinthUserIcon = modrinthUser.avatar_url;
  }
}
let projectWorks =
  projects.length > 0
    ? `Worked on ${projects.length} projects across ${uniqueEvents.size} events.` : `Worked on no projects.`;
let displayName = userData.bio.display_name ? userData.bio.display_name : userData.username;
let pronouns = userData.bio.pronouns;
let description = userData.bio.description ? userData.bio.description : `${displayName} has no description.`;
---

<Layout title={displayName}>
  <div class="mx-auto mt-4 w-4/5">
    <div
      class="rounded-lg bg-white p-6 text-black shadow-md dark:bg-zinc-800 dark:text-white"
    >
      <div class="flex border-0 border-b-4 border-leaf-200">
        <span
          class="mr-5 aspect-square w-16 bg-cover bg-center"
          style=`background-image: url(${modrinthUserIcon});`
        >
        </span>
        <h1 class="mt-4 mr-2 text-xl font-bold text-black dark:text-white">
          {displayName}
        </h1>
        {
          pronouns ? <p class="ml-3 mt-5 text-md text-black dark:text-white">{pronouns}</p> : <div></div>
        }
      </div>
      <p class="mt-4 pb-2 text-center text-black dark:text-white">
        {description}
      </p>
      <p class="mt-3 text-center italic">
        {projectWorks}
      </p>
    </div>
  </div>

  {
    projectSubmissions.map(([event, submissions]) => (
      <h1 class={`text-2xl font-bold text-center center mx-auto w-fit pl-3 pr-3 rounded-lg pb-1 pt-1 mb-1 mt-4 bg-zinc-100 dark:bg-zinc-800 ${event.slug === "diy" ? "text-diy-600 dark:text-diy-200" : "text-leaf-600 dark:text-leaf-200"}`}><a href={`/events/mod-garden/${event.slug}`}>{event.metadata.name ? event.metadata.name : event.slug}</a></h1>
      <div
        class="mx-auto mt-3 grid w-4/5 grid-flow-row grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 pb-4 pt-1"
      >
        {
          submissions.map((submission) => (
            <ProjectCard
              project={submission.project}
              submission={submission}
              events={projectToEventsMap.get(submission.project.id)}
              name={submission.project.metadata.name ? submission.project.metadata.name : (submission.project.metadata.mod_id ? submission.project.metadata.mod_id : submission.project.id)}
            />
          ))
        }
      </div>
    ))
  }
</Layout>
