---
import type { EventSubmission, ModGardenEvent, Project, UserData } from "../ts/ModGardenAPI";
import { getUserData } from "../ts/ModGardenAPI";
import type { Mod } from "../ts/ModrinthHelper";
import { getModrinthModData } from "../ts/ModGardenAPI";

interface Props {
  project: Project;
  submission: EventSubmission;
  mod?: Mod;
  events?: ModGardenEvent[];
  showUserInfo?: boolean;
  name: string;
}

const { project, submission, mod, events, showUserInfo, name } = Astro.props;

var obtainedMod = mod;
if (!obtainedMod) {
  const lookup: Mod | undefined = submission.platform.type === "modrinth" ? await getModrinthModData(submission.platform.project_id) : undefined;
  if (!lookup) {
    throw new Error("Modrinth data not found for project of ID: '" + project.id + "'");
  }
  obtainedMod = lookup;
}

let eventNames = "";
if (events != undefined && events.length > 0) {
  eventNames = events.map((event) => event.metadata.name ? event.metadata.name : event.slug).join(", ");
}

const galleryPicture = obtainedMod.gallery?.length ? obtainedMod.gallery[0] : undefined;
const iconPicture = obtainedMod.icon_url ? obtainedMod.icon_url : undefined;
const projectAuthors: UserData[] = [];
if (showUserInfo) {
  const users = project.team;
  for (const [id, _] of Object.entries(users)) {
    const userData = await getUserData(id, "id");
    if (userData) {
      projectAuthors.push(userData as UserData);
    }
  }
}

function getUrl(): string {
  switch (submission.platform.type) {
      case "modrinth":
        return `https://modrinth.com/project/${submission.platform.project_id}`;
      case "download_url":
        return submission.platform.download_url;
      default:
        return `#`;
  }
}

const title = obtainedMod ? obtainedMod.title : (project.metadata.name ? project.metadata.name : project.metadata.mod_id);
const description = project.metadata.description ? project.metadata.description : (obtainedMod ? obtainedMod.description : `${title} has no description.`);
---

<div class="group inline-block rounded-lg bg-white text-black shadow-md hover:bg-gray-100 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700">
  <div class="w-full rounded-t-lg bg-gray-200 p-2 group-hover:bg-gray-300 dark:bg-zinc-700 dark:group-hover:bg-zinc-600">
    <a id="banner"
      class="block h-48 w-full rounded-t-lg bg-gray-300 bg-cover bg-center group-hover:bg-gray-400 dark:bg-zinc-800 dark:group-hover:bg-zinc-500"
      style={galleryPicture
        ? `background-image: url(${galleryPicture.url});`
        : ""}
      href={getUrl()}
      target="_blank">
    </a>
  </div>
  <div class="flex items-start p-3">
    <span
      class="mr-5 aspect-square w-24 rounded-lg border-4 border-gray-200 bg-gray-200 bg-cover bg-center group-hover:border-gray-300 group-hover:bg-gray-300 dark:border-zinc-700 dark:bg-zinc-700 dark:group-hover:border-zinc-600 dark:group-hover:bg-zinc-600"
      style={iconPicture ? `background-image: url(${iconPicture});` : ""}>
    </span>
    <div>
      <h1 class="pb-1 text-lg font-bold text-black hover:text-gray-600 dark:text-white dark:hover:text-gray-300">
        <a href={getUrl()}>
          {title}
        </a>  
    </h1>
      {showUserInfo && (<div> By:
        {projectAuthors.length > 0 
          ? projectAuthors.map((author) => (
            <a class="text-sm text-leaf-600 underline hover:text-leaf-800 dark:text-leaf-200 dark:hover:text-leaf-600" href={`/user/${author.username}`} target="_blank">
              {author.bio.display_name ? author.bio.display_name : author.username}</a>
          )).reduce((prev, curr) => [prev, ", ", curr])
          : "No authors listed" /* Here just in case somehow no authors, shouldn't be possible, but you can't be too safe */
        }
      </div>)}
      <span>
        {description}
      </span>
    </div>
  </div>
</div>

<style></style>
